# build artefacts
plugin.sketchplugin/Contents/Sketch
plugin.sketchplugin/Contents/Resources/_webpack_images

# Release to Github
Release

github.tokenRef

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store
